/* Stile für den gesamten Body */
body {
    font-family: 'Ubuntu', sans-serif; /* Schriftart Ubuntu */
    line-height: 1.6;
    margin: 20px;
    background-color: #f4f4f4; /* Leicht grauer Hintergrund */
}

/* Stile für die Hauptüberschrift */
h1 {
    color: #333;
}

/* Stile für den Container */
.container {
    max-width: 800px;
    margin: auto;
}

/* Stile für Bilder */
img {
    max-width: 100%;
    height: auto;
}

/* Spezifische Regel für das Profilbild */
.profile-pic {
    width: 400px; /* Breite auf 300px setzen */
    height: auto; /* Höhe automatisch anpassen */
    border-radius: 20%; /* Runde Ecken */
}
