/* Stile für den gesamten Body */
body {
    font-family: 'Ubuntu', sans-serif; /* Schriftart Ubuntu */
    line-height: 1.6;
    margin: 20px;
    background-color: #f4f4f4; /* Leicht grauer Hintergrund */
}

/* Stile für die Hauptüberschrift */
h1 {
    color: #333;
}

/* Stile für den Container */
.container {
    max-width: 800px;
    margin: auto;
}

/* Stile für Bilder */
img {
    max-width: 100%;
    height: auto;
    border-radius: 0; /* Standard-Wert für border-radius */
}

/* Spezifische Regel für das Profilbild */
.profile-pic {
    width: 100px; /* Breite auf 50px setzen */
    height: 100px; /* Höhe auf 50px setzen, um ein Quadrat zu erhalten */
    border-radius: 50%; /* Runde Ecken für ein Kreisbild */
}
